body {
    font-family: Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: .5rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

h1 {
    text-align: center;
}

#chat-container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    max-height: 500px;
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid gray;
    border-radius: .5rem; 
    overflow-y: scroll;
    box-sizing: border-box;
}

form {
    display: flex;
    gap: .5rem;
    width: 80%;
    margin: 2rem auto;
}

#messageInput {
    width: -webkit-fill-available;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

#send-button {
    padding: .5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.message {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: .5rem;

    strong {
        display: block;
        font-size: smaller;
    }

    &.response {
    }
    
    &.request {
        align-items: end;
        border-bottom-right-radius: 0.125rem;
    }
}

.button {
    background: gray;
    border-radius: 30%;
    display: inline-block;
    padding: .5rem;
    transition: all .25s;

    img {
        filter: invert(1);
    }

    &:hover {
        cursor: pointer;
        background: rgb(199, 199, 199);
    
        img {
            filter: invert(.25);
        }
    }
}

#stopButton { 
    display: none;
}
#preview { 
    display: none;
}
#recording { 
    display: none;
}
#downloadButton { 
    display: none;
}

#toggle {
    appearance: none;
    height: 2rem;
    width: 5.75rem;
    display: inline-block;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color ease-in 0.3s;
    background-color: #43805e;
    margin: .5rem 10%;

    &:before {
        content: "speech   text";
        font: 12px/1.5rem Helvetica;
        display: block;
        position: absolute;
        z-index: 2;
        width: 1.5rem;
        height: 1.5rem;                                     
        background-color: #e7e7e7;
        left: 2px;
        top: 4px;
        border-radius: 50%;
        text-indent: -3rem;
        word-spacing: 3rem;
        color: white;
        white-space: nowrap;
        text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
        box-shadow: 0 1px 2px rgba(0,0,0,0.75);
        transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
    }

    &:checked {
        background-color: #4c89d9;
    
        &:before {
            left: 4rem;
        }
    }
}