<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT-like Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
    <main>
        <h1>Chatbot</h1>
    
        <input id="toggle" type="checkbox"></inpu>
        <div id="chat-container"></div>
        <form action="" id="questionForm">
            <input type="text" id="messageInput" placeholder="Send a request..." focused>
            <button id="send-button" type="submit" class="button">Send</button>
            <div id="startButton" class="button"><img src="{{ url_for('static', filename='img/microphone.png') }}" width="20"></img></div>
            <div id="stopButton" class="button"><img src="{{ url_for('static', filename='img/stop-button.png') }}" width="20"></img></div>
        </form>
        
        <audio id="recording" autoplay muted></audio>
        <a id="downloadButton">Download</a>

        <p id="log"></p>
    </main>

    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
